* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-image: url(../src/assets/images/background-light-grey.png);
  padding: 4%;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
  background-position: 50%; 
}
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-image: url(../src/assets/images/Nav.jpg);
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
  background-position: 50%;  
}
h1 {
  font-weight: bold;
  font-size: 36px;
  color: darkblue;
  margin: 0;
  text-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}
h2 {
  padding: 40px 35px;
}
.me {
  padding: 10px 0px 10px 0px;
  width: 10%;
  border-radius: 100px;
}
a {
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
  text-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
  text-decoration: none;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 500px;
}
header nav ul li a {
  padding: 15px 20px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}
header nav ul li a:hover {
  background: greenyellow;
  color: black;
  border-radius: 15px;
  text-shadow: none;
}
p{
  padding: 10px;
  color: black;
  font-size: large;
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(2, 97, 116, 0.466);
  padding: 20px;
  color: white;
  border: solid 3px darkblue;
  width: 40%;
  margin: 3.5%;
}
input, textarea {
  border-radius: 10px;
    border: 1px solid darkblue;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}
.error-text {
  color: white;
}
button {
  color: white;
  background-color: darkblue;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  width: 100px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.project-img {
  width: 100%;
}
.project-icon {
  /* size: 30px; */
  width: 40px;
  margin-right: 20px;
}
.icon {
  /* size: 100px; */
  width: 70px;
  margin-right: 20px;
}
h3 {
  color: white;
  padding-bottom: 20px;
}
.tecnology {
  color: white;
}
h2 {
  color: darkblue;
}
.resume {
  padding: 40px 35px;
}
ul {
  flex-wrap: wrap;
  align-items: center;
  font-size: large;
}

footer {
  background-image: url(../src/assets/images/background-light-grey.png);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
  background-position: 50%; 
}

